
    
      body {
          font-family: Helvetica, sans-serif;
          background-color: rgb(54, 54, 54);
          font-size: 20px;
      } 

      p {
          color: rgb(255, 255, 255);  
          line-height: 24px;       
      }  

      .titoloprin {
          color: rgb(255, 255, 255);
          text-align: center;
          font-weight: 900;
          font-size: 35px;

      }

      .text3 {
          color: rgb(255, 255, 255);          
          font-size: 20px;   
          text-align: center;             
          letter-spacing: -1; 
          font-weight: 600;
          
      }   
      
      h2 {
          color: white;          
      }

       .text2 {           
           color: rgb(255, 255, 255);
           font-size: 60px;
           text-align: center;           
           letter-spacing: 2px;
           padding: 0px;   
           margin-left: 40px;               
       }   
       
       .part2 {
           background-color: rgb(59, 59, 59);
           padding: 1px 0px;
       }

       .list {
           margin-left: 325px;
           font-size: 30px;
           margin-bottom: 50px;
           font-weight: 500;
           color: rgb(0, 0, 0);     
       }       

       .corp {
           max-width: 960px;
           margin: auto;
       }

       .conteudo {
           display: table;
       }

       .imagem {
           display: table-cell;
           float: left;           
       }
       
       .textside {
           display: table-cell;
           float: left;
           max-width: 400px;
           margin-top: 15px;
           margin-left: 20px;
           font-size: 25px;
           letter-spacing: 2px;
       }

       .cor {
           color:rgb(2, 179, 70);
       }

       button {
           
            display: block;           
            margin-right: auto;
            margin-left: 325px;
            width: 380px;
            height: 80px;         
            letter-spacing: -1px;  
            background-color: white;                    
            box-shadow: 2px 4px 0px gray;
            border: none;
            font-size: 30px; 
            cursor: pointer; 
            margin-top: 20px; 
            box-sizing: border-box;   
            border-radius: 8px; 
       }   
       
    

       button:hover{
           background-color: rgb(151, 151, 151);
           box-shadow: 2px 4px 0px rgb(19, 19, 19);
       }

       button:active{
            box-shadow: none;
            position: relative;
            top: 3px;
       }

       .footer {
            background-color: rgb(54, 54, 54);
            padding: 30px;
            text-align: center;
       }

       .nave {
            background-color: rgb(116, 116, 116);
            padding-left: 70px;
            padding-bottom: 10px;
            padding-top: 10px;
       }
       
       nav ul li.nave {
           display: inline;
           margin: 40px;
           font-weight: 600;
       }

       .ext {
           padding-left: 150px;
           padding-top: 20px;
       }
   
